@font-face {
	font-family:Panchali;
	src: url('https://maxcdn.000webhostapp.com/fonts/panchali/panchali.eot');
	src: url('https://maxcdn.000webhostapp.com/fonts/panchali/panchali.eot?#iefix') format('embedded-opentype'), url('https://maxcdn.000webhostapp.com/fonts/panchali/panchali.woff') format('woff'), url('https://maxcdn.000webhostapp.com/fonts/panchali/panchali.ttf') format('truetype'), url('https://maxcdn.000webhostapp.com/fonts/panchali/panchali.svg#panchaliregular') format('svg');
	font-weight: 400;
	font-style: normal
}